.option-box .color-box,
.testi .carousel-indicators li.active
{
    border: 4px solid #8874a3;
}

.products .thumbnail:hover
{
    border: 3px solid #8874a3;
}

.carousel-indicators li
{
    border: 1px solid #8874a3;
}



/* background color */
.option-box .gear-check,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li>a:hover,
.btn-group > .btn:first-child,
.products .product-box .label,
.carousel-indicators .active,
.contact .data form button
{
    background-color: #8874a3;
}


/* color */
.testi span,
h1 span,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a,
.dropdown-menu > li > a,
.footer .copyright span,
.carousel-caption .mybg .label,
.footer h3
{
    color: #8874a3;
}



